@import "tailwindcss";
@plugin "daisyui" {
  themes: false;
}

@plugin "daisyui/theme" {
  name: "luizamoneta";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: #ffffff;
  --color-base-200: oklch(98% 0 0);
  --color-base-300: oklch(95% 0 0);
  --color-base-content: oklch(21% 0.006 285.885);
  --color-primary: #f68c1b;
  --color-primary-content: #fde6c3;
  --color-secondary: #fde6c3;
  --color-secondary-content: #f68c1b;
  --color-accent: #37cdbe;
  --color-accent-content: #ffffff;
  --color-neutral: #3d4451;
  --color-neutral-content: #ffffff;
  --color-info: #2094f3;
  --color-info-content: #ffffff;
  --color-success: #009485;
  --color-success-content: #ffffff;
  --color-warning: #ff9900;
  --color-warning-content: #ffffff;
  --color-error: #ff5724;
  --color-error-content: #ffffff;
  --radius-selector: 0.5rem;
  --radius-field: 0.5rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.1875rem;
  --border: 2px;
  --depth: 0;
  --noise: 1;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #f68c1b;
  color: white;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald', Arial, Helvetica, sans-serif;
}